body {
    background-color:steelblue;
}

h1 {
    text-align: center;
}

.centerElement {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#menubar {
    color: #fff;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    text-align: center;
    width: 100%;
}