:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .btn-secondary {
    --mdb-btn-bg: #008000;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #008000;
    --mdb-btn-hover-bg: #008000;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #008000;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #008000;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(59, 113, 202, 0.3), 0 4px 18px 0 rgba(59, 113, 202, 0.2);
  }
  
  .btn-primary {
    --mdb-btn-bg: #00ff00;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #00ff00;
    --mdb-btn-hover-bg: #00ff00;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #00ff00;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #00ff00;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(227, 235, 247, 0.3), 0 4px 18px 0 rgba(227, 235, 247, 0.2);
  }